@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/* ColorPallet: Primary: #1d1d1d; Secondary: #31BA69; Tertiary: #8CFBDE;*/
.primaryColour{
	color: #1d1d1d;
}

.tertiaryColour{
	color: #8CFBDE;
}

::-webkit-scrollbar{
	background-color: #1d1d1d;
	width: 12px;
}

::-webkit-scrollbar-thumb{
	background-color: #31BA69;
}

::selection{
	background-color: #8CFBDE;
	color: #1d1d1d;
}


/* Navigation */


.navLink:hover{
	text-decoration: underline;
	text-decoration-color: #8CFBDE;
}


/* Title / Webpage Impression */

.hover span:hover{
	color: #31BA69;
	animation: smoothFadeIn linear 0.2s;
	cursor: default;
}
@keyframes smoothFadeIn {
	0% {color: white;}
	100% {color: #31BA69;}
}
.curHover:hover{
	color: #31BA69;
	animation: smoothFadeIn linear 0.2s;
	cursor: default;
}
.lochyjContainer span:hover{
	color: #31BA69;
	animation: fadeIn linear 0.2s;
	cursor: default;
}
@keyframes fadeIn {
	0% {color: white;}
	100% {color: #31BA69;}
}



.pointTitle:hover{
	color: white;
}

.pointTitle:hover ~ .hoverChange{
	text-decoration: underline;
	text-decoration-color: #31BA69;
	animation: fadeIn2 linear 0.1s;
}

@keyframes fadeIn2 {
	0% {text-decoration-color: #1d1d1d;}
	100% {text-decoration-color: #31BA69;}
}

/* Paragraph */

.link:hover{
	text-decoration: none;
	color: #31BA69;
}

.projectsTitle{
	display: flex;
}

/* CSS Effects */

.afterColour span{
	color: #31BA69;
	animation: smoothFadeIn linear 1s;
	cursor: default;
}
@keyframes smoothFadeIn {
	0% {color: white;}
	100% {color: #31BA69;}
}


.neon {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
}

.hoverover {
	position: relative;
	display: inline-block;
	}
.hoverover .hoveroveroverlay {
	visibility: hidden;
	width: 35vw;
	background-color: rgba(0, 0, 0, 0.63);
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
	position: absolute;
	z-index: 1;
}
.hoverover:hover .hoveroveroverlay {
	visibility: visible;
}