@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/* ColorPallet: Primary: #1d1d1d; Secondary: #31BA69; Tertiary: #8CFBDE;*/
.primaryColour{
	color: #1d1d1d;
}
.secondaryColour{
	color: #31BA69;
}
.tertiaryColour{
	color: #8CFBDE;
}
*{
	padding: 0px;
	margin: 0px;
	font-family: 'Rubik', sans-serif;
	color: white;
	background-color: #1d1d1d;
	cursor: default;
}
::-webkit-scrollbar{
	background-color: #1d1d1d;
	width: 12px;
}

::-webkit-scrollbar-thumb{
	background-color: #31BA69;
}

::selection{
	background-color: #8CFBDE;
	color: #1d1d1d;
}


/* Navigation */
.navigationWrapper{
	margin-top: 10px;
	display: flex;
	align-items: right;
	text-align: right;
}

.navLi{
	display: inline;
	text-align: right;

}

.navLink{
	text-decoration: none;
	font-size: clamp(1.2rem, 3vw, 1.9rem);
	margin-left: 2vw;
	text-align: right;

}

.navLink:hover{
	text-decoration: underline;
	text-decoration-color: #8CFBDE;
}


/* Title / Webpage Impression */
.title{
	display: flex;
	font-size: clamp(2.8rem, 7vw, 9rem);
	margin-left:  5vw;
	margin-top: 17vh;
}

.lochyjContainer{
	display: flex;
}

.hover span:hover{
	color: #31BA69;
	animation: smoothFadeIn linear 0.2s;
	cursor: default;
}
@keyframes smoothFadeIn {
	0% {color: white;}
	100% {color: #31BA69;}
}

.lochyjContainer span:hover{
	color: #31BA69;
	animation: fadeIn linear 0.2s;
	cursor: default;
}
@keyframes fadeIn {
	0% {color: white;}
	100% {color: #31BA69;}
}


.pointTitle{
	color: #31BA69;
}

.pointTitle:hover{
	color: white;
}

.pointTitle:hover ~ .hoverChange{
	text-decoration: underline;
	text-decoration-color: #31BA69;
	animation: fadeIn2 linear 0.1s;
}

@keyframes fadeIn2 {
	0% {text-decoration-color: #1d1d1d;}
	100% {text-decoration-color: #31BA69;}
}

/* Paragraph */

.paragraphWrapper{
	z-index:2;
	margin-left: 40vw;
	max-width: 42vw;
	font-size: clamp(0.9rem, 3vw, 4rem);
}

/* Second navigation */

.navDiv{
	display: flexbox;
	margin-top: 27vh;
	margin-left: 6vw;
	font-size: 2.8rem;
}

.link{
	margin-top: 30px;
	margin-left: 10vw;
	text-decoration-color: #8CFBDE;
}

.link:hover{
	text-decoration: none;
	color: #31BA69;
}

.downArrow{
	max-width: 50px;
	display: flex;
	margin-top: 28vh;
	margin-left: 45vw;
	z-index: 1;
}

.projectsTitle{
	display: flex;
}

/* CSS Effects */

.afterColour span{
	color: #31BA69;
	animation: smoothFadeIn linear 1s;
	cursor: default;
}
@keyframes smoothFadeIn {
	0% {color: white;}
	100% {color: #31BA69;}
}


.neon {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
}