@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/* ColorPallet: Primary: #1d1d1d; Secondary: #31BA69; Tertiary: #8CFBDE;*/

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Rubik', sans-serif;
    color: white;
    background-color: #1d1d1d;
    cursor: default;
}

.titleContainer {
    display: flex;
    margin-top: 2vh;
    font-size: 2.6rem;
    transform: translateX(-12px);
}

.logo {
    max-width:70px; 
    transform: translateY(20px); 
    transform: translateX(10px); 
    background-color: #00000000;
}

.main{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 7vh;
}

#z {
    background-color: #31BA6936;
    border: none;
    border-radius: 5px;
    min-width: 400px;
    min-height: 50px;
    font-size: 2rem;
}

.btn {
    background-color: #31BA6936;
    min-width: 100px;
    border: none;
    min-height: 50px;
}
